<%- layout("template1")%>
<div class="row" style="margin-bottom: 30%">
    <h2 class="text-danger"><%=user.first_name%> <%=user.last_name%>, Login failed</h2>
    <p>You have not activated your account. Login to your email and click the link sent to you to activate your account.</p><br/>
    <a href="/">Go Back</a>
</div>
