<%- layout("template1")%>

<!-- Main jumbotron for a primary marketing message or call to action -->

<div class="container" style="margin-bottom: 30%">
    <h1 class="text-success">Congratulations for completing this step.</h1>
    <p>A message has been sent to your email to activate your account. please visit your email and complete your registration.</p>
    <p/><p/>
    <b>Note :</b><span>You must activate your account before you can login</span><br/>
    <p>Thanks !!!</p>
    <a href="/">Click to go back to Home Page</a>

</div> <!-- /container -->
