<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title><%- typeof title !="undefined" ? title : "Spotgagory"  %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Social networking upload images, videos, post" name="description" />
    <meta content="author" name="Spotgagory" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">

    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />

</head>
<!-- END HEAD -->

<body>
<div class="container">
    <%- body %>
    <!-- Footer -->

    <!-- End Footer -->

</div>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>


</body>

</html>
