<% layout('layout/default') %>
<div class="col-sm-8 col-sm-offset-2 mt-100">
    <div class="panel panel-default">
        <div class="panel-heading" style="background-color: #D68D02!important;">
            <p class="text-center"><img src="/img/spotagory.JPG" class="text-center"></p>
        </div>
        <div class="panel-body">
            <h3 class="text-success"><i class="fa fa-thumbs-up"></i> Account verification successful!</h3>
            <p>Your account has been verified, you can now login to your smartkolo mobile app!</p>
        </div>
    </div>
</div>
